<!-- 头部信息 -->
<%- include public/header.ejs%>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">COCOK</a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">商品管理</a></li>
                    <li><a href="#">商品</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">欢迎 <%= userInfo.username%></a></li>
                    <li><a href="/loginOut">退出</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form class="navbar-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>编号</th>
                        <th>编号</th>
                        <th>编号</th>
                        <th>编号</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < list.length; i++){ %>
                        <tr>
                            <td>
                                <%= i %>
                            </td>
                            <td>
                                <%= list[i].pic %>
                            </td>
                            <td>
                                <%= list[i].title %>
                            </td>
                            <td>
                                <%= list[i].price %>
                            </td>
                            <td>
                                <%= list[i].fee %>
                            </td>
                            <td>
                                <a href="#">删除</a>
                                <a href="#">编辑</a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    
</body>
</html>